# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
# Replace with your project details from Supabase Dashboard
NEXT_PUBLIC_SUPABASE_URL=https://snvmrkpmpjtspypenhcl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNudm1ya3BtcGp0c3B5cGVuaGNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjM2NDYsImV4cCI6MjA4OTczOTY0Nn0.mKHC8GhqrjA1Em6xYnhbRZbnPCBKdmySNTziPZZcapo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNudm1ya3BtcGp0c3B5cGVuaGNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE2MzY0NiwiZXhwIjoyMDg5NzM5NjQ2fQ.IK7kM3ms_4OCtRZEcD1cMob9uBK_VaE0yc1Q46-7Yck

# Stripe
# Replace with your test/live keys from Stripe Dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
